<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <title>Job Searching</title>
  </head>
  <body>
    <header class="container">
      <nav>
        <ul>
          <li>
            <a href="/"><h3>취업성공!</h3></a>
          </li>
        </ul>
      </nav>
      <hr />
    </header>
    <main class="container">
      <h1>잡스크래핑</h1>
      <h5>잡코리아, 인크루트 사이트에서 직업을 검색합니다.</h5>
      <form action="/search">
        <input
          name="keyword"
          placeholder="찾으시는 회사명, 직무를 입력해주세요"
        />
        <button>검색하기</button>
      </form>
    </main>
    <footer class="container">
      <hr />
      <h6>Copyright&copy;2024 Kenjo All rights reserved</h6>
    </footer>
  </body>
</html>
